@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

// Override boostrap here
$primary-color: #003c71;
$secondary-color: #27669d;
$theme-colors: map-merge($theme-colors, (
  "primary": $primary-color,
  "secondary": $secondary-color
));

$positions: (
    "border-top": top, 
    "border-end": right, 
    "border-bottom": bottom, 
    "border-start": left
);
@each $breakpoint,$value in $grid-breakpoints{
    .border-#{$breakpoint}-0{
        border: 0px !important;
    }

    @each $key, $val in $positions{
        .#{$key}-#{$breakpoint}-0{
            border: 0px !important;
        }
        @each $k, $v in $border-widths{
            .#{$key}-#{$breakpoint}-#{$k}{
                border-#{$val}: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color) !important;
            }
        }
    }
}

// End override

@import '~bootstrap/scss/bootstrap';
@import '~fontawesome-free/scss/regular';
@import '~fontawesome-free/scss/brands';
@import '~fontawesome-free/scss/solid';
@import '~fontawesome-free/scss/fontawesome';

// ====================================
// Customized css here

.par-100{
    font-weight: 100;
}

.lh-5{
    line-height: 1.5rem;
}

.card:hover{
    transform: scale(1.01);
    transition: all 0.2s ease-in-out;
}

// Animation
.fade-in {
    opacity: 0;
    transform: translateY(10%);
    transition: all 1s ease-out;
}

$animation-delays: (
    1: 1s,
    2: 1.5s,
    3: 2s,
    4: 2.5s,
    5: 3s,
    6: 3.5s,
    7: 4s,
    8: 4.5s,
    9: 5s,
    10: 5.5s
);
@each $key, $val in $animation-delays{
    .ad-#{$key}{
        animation-delay: $val;
    }
}
  
.active {
    opacity: 4;
    transform: translateY(0);
}

.list-style-none{
    list-style: none;
}